@media only screen and (min-width: 600px) {


    .hero-section {
        padding: 0rem 2.5rem 3rem 2.5rem;

    }

    .hero-section span {
        font-size: 2rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .hero-section h3 {
        font-size: 1rem;
    }

    .inputAndBtn {
        flex-direction: row;
        gap: 1rem;
        margin-top: 10px;
    }

    .inputAndBtn input {
        max-width: 18rem;
    }

    .inputAndBtn button {
        padding: 0.8rem;
        font-size: 1rem;
        max-width: 12rem;
    }



    .trending-container {
        height: 12rem;
    }

    .trending-container h2 {
        font-size: 2rem;
    }



    .movies {
        height: 88%;
    }

    .movies-box h2 {
        font-size: 2.5rem;

    }

    .dragon,
    .puspa2 {
        display: block;
    }


    .more-reasons {
        margin-top: 8rem;
        height: 44rem;
        gap: 1.5rem;
    }

    .showing-section {
        height: 44rem;
        ;
        gap: 1.5rem;

    }

    .sections {
        flex-direction: row;
        justify-content: space-between;

    }

    .text-section {
        width: 50%;
        margin: 1rem;
    }

    .text-section h2 {
        font-size: 1.5rem;
    }

    .text-section p {
        font-size: 01rem;

    }

    .vidImage {
        height: 60%;
        margin: none;
    }

    .faqs-list {
        margin-top: 12rem;
    }

    .faqs-list h1 {
        font-size: 1.8rem;
    }

    .foot-inputAndBtn input {
        max-width: 25rem;
        padding: 1.2rem;
    }

    .foot-inputAndBtn button {
        max-width: 15rem;
        padding: 1.2rem;
    }

    .foot-search h3 {
        font-size: 1.2rem;
    }

    .foot-panel2 {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10rem;
        gap: 1.5rem;
    }
}




@media only screen and (min-width:960px) {
    .logo .logo1 {
        display: block;
        height: 2.5rem;
        filter: brightness(0.9) contrast(1);
        object-fit: cover;
        cursor: pointer;
    }

    .logo .logo2 {
        display: none;
    }

    .languageBtn {
        display: inline;
    }


    .hero-section {
        padding: 0 5rem 5rem;
        height: 30rem;
        max-width: none;
    }

    .hero-section span {
        font-size: 3rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }

    .trending-container {
        margin-top: 3rem;
        height: 14rem;
    }

    .trending-container h2 {
        font-size: 2.5rem;
    }

    .movies-box {
        width: 100%;
    }

    .deva {
        display: block;
    }


    .more-reasons {
        margin-top: 8rem;
        height: 14rem;

    }

    .showing-section {
        height: 18em;
        gap: 1rem;
        flex-direction: row;

    }

    .more-reasons h1 {
        font-size: 2rem
    }


    .sections {
        flex-direction: column;
        justify-content: start;
        height: 100%;
        border-radius: 2rem;

    }

    .text-section {
        width: 100%;
        padding: 1rem;
    }

    .text-section h2 {
        font-size: 1.8rem;
        display: inline;
    }

    .text-section p {
        font-size: 1.1rem;

    }

    .vidImage {
        display: none;
    }

    .faqs-list {
        margin-top: none;
    }

    .faqs-list span h3 {
        font-size: 1.5rem;
    }

    .foot-panel3 button {
        padding: 1rem 1.5rem;
        border-radius: 1rem;

    }

}





@media only screen and (min-width:1280px) {
    nav {
        height: 5rem;
    }

    .logo .logo1 {
        display: block;
        height: 2.7rem;
        filter: brightness(0.9) contrast(1);
        object-fit: cover;
        cursor: pointer;
    }

    .logo .logo2 {
        display: none;
    }

    .languageBtn {
        display: inline;
    }

    .hero-section {
        padding: 0 5rem 5.5rem;
        height: 35.375rem;
        max-width: none;
    }

    .hero-section span {
        font-size: 3.5rem;

    }

    .hero-section p {
        font-size: 2rem;
    }

    .hero-section {
        font-size: 1.2rem;
    }

    .trending-container {
        width: 95%;
        margin: 3rem auto;
        height: 14rem;
    }

    .movies-box {
        width: 100%;
    }

    .movies {
        border-radius: 1rem;
    }

    .purple,
    .werstlmenia,
    .lift,
    .thegreyman,
    .deva {
        display: block;

    }

    .more-reasons {
        height: 75rem;
        width: 90%;
        margin: 10rem auto;
        flex-direction: column;
    }

    .showing-section {
        height: 72rem;
        width: 100%;
        flex-direction: column;

    }

    .more-reasons h1 {
        font-size: 1.6rem;
    }

    .vidImage {
        display: block;
    }


    .sections {
        height: 25%;
        background-color: #27272767;
        flex-direction: column-reverse;
        justify-content: space-between;
        border: none;
        border-top: 2px solid var(--text-color);
        padding: 1rem;
    }

    .more-reasons h1 {
        font-size: 2.5rem;
    }

    .text-section {
        padding: 0rem 10%;
    }

    .text-section h2 {
        font-size: 2.5rem;
    }

    .text-section p {
        font-size: 2rem;
    }

    .fourth-section,
    .second-section {
        height: 30%;
    }



    .faqs-list {
        width: 90%;
        margin: 5rem auto;
        height: 40rem;
    }

    .faqs-list h1 {
        font-size: 2rem;
    }

    .faqs-list span {
        padding: 1.5rem;
    }

    .faqs-list span h3,
    .icon {
        font-size: 2rem;

    }

    .footer-contents {
        padding: 2rem 0rem 0rem 7rem;
        gap: 1.5rem;
    }

    .foot-panel2 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 5rem;
    }

    .foot-panel3 button {
        padding: 1rem 1.5rem;
        border-radius: 1rem;

    }

}

@media all and (min-width:1920px) {
    .half-body {
        max-width: 1920px;
        margin: auto;

    }

    .back-panel {
        display: none;
    }

    .footer-contents {
        max-width: 1920px;
        margin: auto;
        padding: 10rem;
    }

    footer {
        background-color: rgba(0, 0, 0, 0.038);
    }
}